body {
  background:rgb(95, 1, 1);
}
h1 {
font-size:60px;
font-family:'Papyrus;
text-align:center;
}
p {
    color:navy;
    font-size: 40px;
    font-family:'Times New Roman;
    text-align:center;
}
