/* styles.css */

body {
  font-family: Arial;
  line-height: 1.6;
  font-size:25px;
  background-color:darkred;
}

h1 {
  background: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

p {
  color:aqua;
  font-size:25px;
  font-family:monospace;
}